{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenidos a la libreria</h1>
            <p class="col-md-8 fs-4">Empezar a ingresar libros</p>
            <a name="" id="" class="btn btn-success" href="{% url 'libros' %}" role="button">Empezar</a>
            <!-- <button class="btn btn-primary btn-lg" href="{% url 'libros' %}" type="button">Empezar</button> -->
        </div>
    </div>

{% endblock %}