{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% load static %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'core/js/confirmacion.js' %}"></script>    
{% endblock %}

{% block contenido %} 
    {% if mensaje %}
        <div class="alert alert-success" role="alert">
            Libro eliminado exitosamente!
        </div>
    {% endif %}

    <div class="card"> <!-- bs5-card-head-foot -->
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{% url 'crear' %}" role="button">Agregar nuevo libro</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Libros</h4>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Título</th>
                            <th scope="col">Imágen</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for libro in Libros %}
                        <tr class="">
                            <td scope="row">{{ libro.id }}</td>
                            <td>{{ libro.titulo }}</td>
                            <td><img src="{% static libro.imagen %}" width="80" height="120"></td>
                            <td>{{ libro.descripcion }}</td>
                            <td>
                                <a name="" id="" class="btn btn-info" href="{% url 'editar' libro.id %}" role="button">Editar</a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'borrar' libro.id %}" role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
            Footer
        </div>
    </div>

{% endblock %}